@use "../styles/config" as *;

.button {
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  background: #f1f3f6;
  margin-top: 5px;
  padding: 9px 10px;
  border-radius: 6px;
  border: 1px solid $secondary-color;
  transition: border 0.2s, background 0.2s;
  margin-bottom: 15px;

  &:hover {
    background: $primary-color;
  }
}

.open {
  background-color: $tertiary-color;
}

.container {
  display: none;
  margin-bottom: 15px;

  @media (max-width: $break-point-medium) {
    display: block
  }
}